<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yangsc.base.mapper.ClipboardHistoryMapper">




    <select id="getClipboard" resultType="top.yangsc.controller.bean.vo.resp.ClipboardRespVO">
        select ch.id as id,
                user_id,
                system,
                tag_name,
                value_id,
                cv.content,
                created_at
                from clipboard_history ch
                          left join clipboard_values cv on  ch.value_id = cv.id
        limit #{pageSize} offset ((#{pageNum}-1)*#{pageSize});
    </select>



</mapper>