<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yangsc.base.mapper.ClipboardValuesMapper">

    <select id="insertOne" resultType="java.util.Map">
            WITH inserted AS (
                INSERT INTO clipboard_values(id, content, content_md5)
                    VALUES (
                               getId(),
                               #{content},
                               decode(md5(#{content}), 'hex')
                           )
                    ON CONFLICT (content_md5) DO UPDATE SET content = EXCLUDED.content
                    RETURNING id, (xmax = 0) AS pertain
            )
            SELECT id, pertain FROM inserted;
    </select>

</mapper>